@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  top: 0;
  left: 0;
  right: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Secular One", sans-serif;
}
body {
  background: #181818;
}
.pricing-header {
  background: #181818;
  margin-top: 7%;
}
.pricing-header > div > h4 {
  text-align: center;
  color: #e40084 !important;
  padding: 20px;
}
.pricing-header > div > h1 {
  font-size: 56px;
  color: white;
  font-weight: bold;
  font: bold;
  text-align: center;
  width: 50%;
  margin-left: 24%;
}
.pricing-div {
  background-color: #181818;
  display: flex;
  margin-left: 22%;
}
.plan-div {
  max-width: 37%;
  height: 400px;
  line-height: 1.5;
  text-align: center;
  /* padding: 30px 20px; */
  color: #eeeeee;
  background: #222222;
  margin: 40px 0px 40px 0px;
  padding: 0;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* background-color: #181818; */
}
.pricing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 10%;
  max-width: 80%;
}
.plan-div > div > div > a {
  text-decoration: none;
  font-weight: 1000;
  color: #d4d4d4;
  max-width: 200px;
  /* background-size: 300px 100%; */
  background-image: linear-gradient(to right, #f05a28, #ec008c, #f05a28);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  background: linear-gradient(145deg, #f05a28 0, #ec008c 100%);
  font-size: 15px;
  letter-spacing: 0.5px;
  padding: 18px 70px;
  border-radius: 6px;
}
.plan-div > div > div {
  padding: 10px;
}
.plan-picker,
.plan-picker-blue {
  padding: 0;
  margin-bottom: 20px;
}
.plan-picker-blue > a {
  /* background-image: linear-gradient(to right, #2479bf, #2479bf, #2479bf); */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  background: linear-gradient(to right, #2479bf, #3179b4, #2479bf) !important;
}
#contact-sales > a {
  margin-top: 20px;
  padding: 0 !important;
  box-sizing: 0 !;
  color: #d4d4d4;
  width: 0 !important;
  background: none;
}
#contact-sales > a > span {
  color: #ec008c;
}
.footer {
  /* background-color: #222222; */
  padding-bottom: 50px;
  width: 100%;
}
.footer-container {
  background-color: #181818;
  display: flex;
  width: 100%;
  padding-bottom: 60px;
  flex-direction: row;
  color: whitesmoke;
}
.footer-container > div {
  margin: 5% 5% 0px 5%;
  width: 10%;
  text-align: left;
}
.footer-head {
  font-size: 13px;
  top: 30px;
  margin-bottom: 30px;
  /* font-weight: 700;  */
}
.footer-head + div {
  width: 210%;
  margin-top: 30px;
  margin-bottom: 50px;
}
.footer-container > div div a {
  letter-spacing: normal;
  font-size: 70%;
  line-height: 40px;
  padding: 20px 0;
  color: #7c7c7d;
  text-decoration: none;
}
.footer-container > div div a:hover {
  color: white;
}
a > img {
  height: 34px;
  width: 34px;
}
.footer-last-div {
  display: flex;
  font-size: 12px;
  flex-direction: row;
  background-color: #222222;
  margin: 0px;
  padding: 0px;
  justify-content: space-around;
  border-top: 1px solid #363636;
}
.footer-last-div {
  padding-top: 40px;
}
.connect {
  margin-top: 34px;
}
.connect > #terms-of-use,
.connect > #privacy-policy {
  margin-right: 40px;
  /* margin-top: 40px; */
}
.connect > span > a img {
  height: 13px;
  /* margin-top: 30px; */
}
.copyright-content {
  display: flex;
  margin: 30px 0px 0px 0px;
}
.copyright-content > span > a img {
  height: 34px;
  width: 34px;
}
.copyright-content > div {
  margin-top: 10px;
}
.copyright-content > div > span {
  margin: 0px;
  margin-top: 0px;
  margin-left: 30px;
  color: #7c7c7d;
}
.connect a {
  text-decoration: none;
  color: #e6e6e6;
}
